/* *{
    border: 1px solid red;
} */
.row1 {
    width: 100%;
    display: flex; /* 자식 요소들을 가로 배치 */
    gap: 10px;    /* 자식 요소 사이의 간격 지정 (선택 사항) */
}

.dash_board1{
    display: flex;
    flex: 1;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.db1_content{
    width:100%;
}

.db1_text_box{
    display: flex;
}


.icon{
    width: 125px;
}

.db1_text_box>div{
    flex: 1;
    padding: 5px 10px;
}

.db2_header{
    display: flex;
    justify-content: space-between;
    margin: 2px 10px;
}

.dash_board2{
    flex: 1;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: 'pointer'
}

