
.pr_row1{
    border-top: solid 1px #e1e7f0;
    padding-top: 7px;
}
.pr_row1_header{
    display: flex;
}
.pr_row1_boxs{
    display: flex;
    margin-top: 10px;
}
.pr_row1_box_title_text{
    margin:auto;
    font-size: 25px;
    font-weight: bolder;
}
.pr_row1_box{
    flex: 1;
    border: solid 1px #e1e7f0;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}
.pr_row1_box_title{
    display: flex;
}
.pr_header{
    display: flex;
    margin: 5px 15px;
    text-align: right;
}

.pr_header>div{
    background-color: #1d4ed8;
    color: white;
    padding: 0 10px;
    height: 25px;
    margin-right: 5px;
}

.pr_header>a{
    padding: 0 10px;
    text-decoration: underline;
}
.pr_box_title{
    font-weight: bolder;
    padding: auto 0;
    margin: auto 0;
}
.pr_box_title2{
    margin: 10px 5px;
}
.next{
    margin: auto 5px;
    color: #1d4ed8;
    font-size: 20px;
}
.pr_header_box2{
    margin-left: auto;
}
.pr_row2_table_row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.pr_row2{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.pr_row2_table_row>div{
    border-radius: 15px;
    border: #e1e7f0 solid 1px;
    flex:1;
    padding: 0px 10px;
}
.pr_row2_box{
    flex:1;
    border: solid 1px #e1e7f0;
    border-radius: 15px;
    background-color: white;
    padding: 0px 10px;
}
button{
    height: 30px;
    margin: 0px 5px;
    padding: 2px 15px;
}
img{
    display: block;
    width: 100px;
    margin: 0 auto;
}
.pr_row1_box_title>*{
    flex: 1;
}
