.sidebar {
    width: 230px;
    min-height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #e5e7eb;
    padding: 25px 18px;
    flex-shrink: 0;
}

.sidebar-logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 35px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar a {
    display: block;
    padding: 12px 15px;
    border-radius: 8px;

    color: #444;
    font-size: 15px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #f0f2f5;
}